<h1>STM Flix</h1>
<form #form="ngForm" (submit)="getData(form.value.searchTerm)">
    <label for="searchTerm">Search</label>
    <input type="text" name="searchTerm" ngModel>
    <label for="rating">Rating</label>
    <input type="text" name="rating" ngModel>
    <label for="genre">Genre</label>
    <input type="text" name="genre" ngModel>
    <label for="length-time">Movie Length</label>
    <input type="range" name="length-time" min="30" max="240" step="15" value="100">
    <button (click)="toggleMovielist()">Go to Watchlist</button>
</form>
<!-- <div>
    <app-movie-list ></app-movie-list>
</div>
<div>
    <app-watch-list-page ></app-watch-list-page>
</div> -->

